
body {
    margin: 0 auto;
    background: #eafee3;
}

input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: lightgray;
    width: 300px;
    font-family: 'Nunito', sans-serif;
}

input[placeholder]{
    color: #59803d
}

input[type=submit] {
    background-color: #59803d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #374f26;
}

select{
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    color: black;
    background-color: lightgray;
    width: 300px;
}

.cityName{
    font-size: 120px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 70px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #59803d;
}

.container{
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
}

.nameOfDay{
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
}

.newQuery{
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}

.newQueryForm {
    margin-left: 900px;
    margin-top: 30px;
}

.searchLook {
    width: 600px;
    height: 200px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    font-family: 'Nunito', sans-serif;
}

.threeDays {
    display: flex;
    flex-direction: column;
}

.underline{
    width:900px;
    height: 5px;
    background: black;
    margin:0 auto
}

.weatherValues{
    font-family: 'Nunito', sans-serif;
    margin-top: 4px;
}
